/*--Media Responsive CSS--*/
@media (max-width:991px){
    .container{
        max-width: 900px;
    }
    .info {
        margin-right: 10px;
        margin-left: 10px;
    }
    .testimonial-text {
        float: left;
        width: 620px;
    }
    .post-img{
        background: transparent;
    }
    .foto-image{
        width: 49%;
    }
    .contact-area{
        margin-right: 0;
        width: 49%;
    }

}
@media (max-width:958px){
    .container{
        max-width: 800px;
    }
    .testimonial-text {        
        width: 500px;
    }
    .foto{
        width: 100%;
    }
    .info-bottom {
        margin: 0;       
    }
    .post-articles{
        width: 98%;
    }
    .post-content p{
        font-size: 16px;
    }
}    
@media (max-width: 800px){
    .container{
        max-width: 760px;
    }
    .hero{
        height: 700px;
    }
    .info {
        margin-right: 5px;
        margin-left: 5px;
    }
    .about-us{
        height: 450px;
    }
    .testimonial-text {        
        width: 470px;
    }
    .item-bottom{
        font-size: 14px;
    }
}
@media (max-width: 768px){
    .container{
        max-width: 700px;
    }
    .header-top{
        display: none;
    }
    .hero{
        margin-top: -120px;
    }
    .feature-title{
        font-size: 32px;
    }
    .testimonial-text {        
        width: 450px;
    }
    .info-bottom{
        margin-bottom: 12px;
    }
    .item-bottom{
        font-size: 12px;
    }
    .form-textarea textarea{
        width: 98%;
    }
}
@media (max-width: 720px) {
    .container{
        max-width: 640px;
    }
    .welcome{
        line-height: 1.5;
    }
    .testimonial-author{
        text-align: justify;
    }
    .testimonial-text {        
        width: 360px;
    }
    .item-bottom{
        font-size: 12px;
    }
    .media-body{
        font-size: 18px;
    }
    .form-control{
        font-size: 16px;
    }
}
@media (max-width: 640px) {
    .container{
        max-width: 600px;
    }
    .offers{
        height: 800px;
    }
    .testimonial-foto{
        width: 120px;
        height: 120px;
    }
    .testimonial-text {        
        width: 320px;
    }
    .post-articles{
        display: flex;
    }
    .post-img{
        width: 100%;
    }
    .post-content{
        width: 100%;
    }
    .contact{
        height: 700px;
    }
    .item-bottom{
        font-size: 9px;
    }
}
@media (max-width: 600px){
    .container{
        max-width: 540px;
    }
    .feature-title{
        font-size: 24px;
    }
    .hero{
        height: 450px;
    }
    .header-menu{
        height: 40px;
    }
    .navbar-brand img{
        height: 40px;
    }
    .logo-image{
        width: 35%;
    }
    .welcome{
        font-size: 50px;
        top:55%;
    }
    .about-us{
        padding: 15px;
        height: 350px;
    }
    .post-about-us p{
        font-size: 16px;
    }
    .offers{
        height: 750px;   
    }
    .blog{
        height: 800px;
    }
    .post-head{
        display: flex;
        flex-direction: column;
    }
    .contact {
        height: 550px;
    }
    .testimonial-foto{
        width: 100px;
        height: 100px;
    }
    .testimonial-text {        
        width: 300px;
        font-size: 16px;
    }
    .foto{
        height: 400px; 
    }
    .contact-area{
        height: 400px;
    }
    .contact-info{
        display: none;
    }
}
@media (max-width: 540px) {
    .container{
        max-width: 500px;
    }
    .about-us{
        padding: 0;
    }
    .post-about-us p{
        font-size: 14px;
        line-height: 1.5;   
    }
    .offers{
        height: 350px;
    }
    .testimonials{
        display: none;
    }
    .blog{
        display: none;
    }
    .post-articles{
        flex-direction: column;
    }
    .post-img img{
        width: 94%;
    }
    .post-content p{
        padding-right: 10px;
    }
    .pagination{
        font-size: 16px;
        margin-left: 5%;
    }
    .foto-image{
        display: none;
    }
    .contact-area{
        width: 100%;
    }
    .single-post-head{
        font-size: 16px;
    }
    .single-img{
        width: 98%;        
    }
    blockquote{
        margin: 1%;
    }
    blockquote>p{
        margin: 1%;
      }
    .form-field{
        width: 98%;
    }
    .media-body a{
        margin-left: 0;
    }
    .btn-main{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 5%;
    }
    .vk, .ok, .fb, .gp{
        width: 25px; 
        height: 25px;
        background-size: 25px;       
    }
    .copyright{
        font-size: 16px;
    }    
}
@media (max-width: 320px){
    .container{
        max-width: 240px;
    }
    .hero{
        height: 320px;
    }
    .welcome{
        font-size: 36px;
    }
    .feature-header{
        margin: 10px 0px;   
    }
    .feature-header-lite{
        margin: 10px 0px;   
    }
    .feature-title{
        font-size: 18px;
    }
    .offers{
        height: 200px;
    }
    .pagination{
        font-size: 14px;
        margin-left: 12%;
    }
    .single-post-head{
        display: flex;
        flex-direction: column;
    }
    .single-content p{
        font-size: 18px;
    }
    .footer{
        height: 90px;
    }
    .copyright{
        font-size: 12px;
    }  
}